<?xml version="1.0" encoding="UTF-8"?>

<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  

<bean id="adr" class="com.test.Address">
<property name="street" value="btm"></property>
<property name="city" value="Banglore"></property>
<property name="state" value="KA"></property>
</bean>

<bean id ="emp" class="com.test.Employee">
	<property name="id" value="1"></property>
	<property name="name" value="rahul"></property>
	<property name="city" value="noida"></property>
	<property name="adr" ref = "adr"></property>
</bean>

<bean id="pp" class ="com.test.Employee">
<constructor-arg name="id" value="1"></constructor-arg>
<constructor-arg name="name" value="rishi"></constructor-arg>
<constructor-arg name="city" value="gurgaon"></constructor-arg>
<constructor-arg name = "adr" ref = "adr"></constructor-arg>


</bean>
  
</beans>